.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #FFFFFF;
  margin-bottom: 1rem;
}
.logo-brand img {
  margin-top: 1rem;
}
.navbar > ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}